.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("");
    /* height: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: white;
  }

/* Character Selection Cards */
.card {
    background:darkred;
    border: 3px solid black;
    box-shadow: 0 10px 20px 0 darkgrey; 
    padding: 0.25rem;
    margin: 1rem;
    border-radius: 10px;
    justify-content: center;
}

.card-content {
    align-content: center;
    text-align: center;
}

.card-action {
    background: rgb(37, 37, 37);
    color: white;
    text-align: center;
    /* border: gold;  */
}

.center {
    display:grid;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-content:center;
}

.container {
    display:grid;
    grid-gap: 50px;
}

/* .btn {
    border: 10px solid gold;
    color: gold;
} */


.bottom {
    position: absolute;
    bottom:0;
}
